/*******************FONTS**************************/
@font-face {
  font-family: Bold;
  src: url(../fonts/RobotoBold/RobotoBold.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: light;
  src: url(../fonts/RobotoLight/RobotoLight.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Medium;
  src: url(../fonts/RobotoMedium/RobotoMedium.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Regular;
  src: url(../fonts/RobotoRegular/RobotoRegular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Black;
  src: url(../fonts/RobotoBlack/robotoblack.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: SBold;
  src: url(../fonts/SourceSansProBold/SourceSansProBold.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: OpenSBold;
  src: url(../fonts/OpenSansBold/OpenSansBold.ttf);
  font-weight: normal;
  font-style: normal;
}
.OpenSBo {
  font-family: "OpenSBold";
}
.SB {
  font-family: "SBold";
}
.Bl {
  font-family: "Black";
}
.Bo {
  font-family: "Bold";
}
.Li {
  font-family: "light";
}
.Me {
  font-family: "Medium";
}
.Re {
  font-family: "Regular";
}
/**************************************************/
/**************************************************/
a:hover,
a:focus,
a:visited,
a:active {
  color: #000;
  -webkit-border-radius: 0;
          border-radius: 0;
  text-decoration: none;
  border: 0px;
  padding: 0px;
}
/**************************************************/
header {
  min-height: 680px;
  background: #ffc038;
}
header nav .container {
  width: 53.5%;
  background: #ffc038;
  margin-top: 50px;
}
header nav .container .navbar-header .navbar-brand {
  text-transform: uppercase;
  font-size: 26px;
  font-family: "Black";
}
header nav .container .navbar-header .navbar-brand span1 {
  font-family: "Black";
  color: #fff;
  border: 3px solid yellow;
  padding: 3px 5px;
}
header nav .container .navbar-header .navbar-brand span2 {
  font-family: "Black";
  padding-left: 7px;
  color: #464646;
}
header nav .container .navbar-header .navbar-brand:hover {
  color: #464646;
}
header .navbar-default {
  min-height: 120px;
  background: #ffc038;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
header .navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  font-family: "Bold";
  font-size: 14px;
  color: #595145;
  text-align: center;
}
header .container {
  width: 53.5%;
}
header .container .row .content_header {
  padding-top: 15px;
}
header .container .row .content_header .line_up {
  margin-left: -120px;
}
header .container .row .content_header .text_header {
  padding-left: 0px;
}
header .container .row .content_header .text_header span {
  text-transform: uppercase;
  color: #fff;
  font-family: "Bold";
  font-size: 42px;
}
header .container .row .content_header .text_header p {
  width: 360px;
  color: #fff;
  font-family: "light";
  font-size: 16px;
}
header .container .row .content_header .text_header .btn-primary {
  font-family: "Regular";
  font-size: 16px;
  width: 150px;
  height: 50px;
  background: #464646;
}
header .container .row .content_header .text_header .btn-primary.active,
header .container .row .content_header .text_header .btn-primary:active {
  border: none;
}
header .container .row .content_header .corusel_my {
  margin-top: 25px;
  padding-left: 0px;
}
header .container .row .content_header .corusel_my .carousel-indicators {
  bottom: -55px;
}
header .container .row .content_header .corusel_my .carousel-control.left {
  display: none;
}
header .container .row .content_header .corusel_my .carousel-control.right {
  display: none;
}
main {
  min-height: 680px;
}
main .container {
  width: 53.5%;
}
main .container .first_block {
  height: 300px;
}
main .container .first_block .long_btn .btn-primary {
  font-family: "SBold";
  text-transform: uppercase;
  font-size: 26px;
  width: 330px;
  height: 55px;
  background: #464646;
}
main .container .first_block .long_btn .btn-primary.active,
main .container .first_block .long_btn .btn-primary:active {
  border: none;
}
main .container .first_block .long_btn img {
  margin-top: 110px;
}
main .container .first_blok2 {
  height: 400px;
}
main .container .first_blok2 .right_block span {
  font-family: "Bold";
  font-size: 18px;
  text-transform: uppercase;
}
main .container .first_blok2 .right_block p {
  padding-top: 10px;
  font-family: "light";
  font-size: 14px;
}
main .container .first_blok2 .right_block .btn-primary {
  width: 150px;
  height: 50px;
  background: #ffc038;
  border: none;
  color: #464646;
  font-family: "OpenSBold";
  font-size: 12.5px;
  text-transform: uppercase;
}
main .container .second_blok {
  height: 400px;
}
main .container .second_blok .left_block span {
  font-family: "Bold";
  font-size: 18px;
  text-transform: uppercase;
}
main .container .second_blok .left_block p {
  padding-top: 10px;
  font-family: "light";
  font-size: 14px;
}
main .container .second_blok .left_block .btn-primary {
  width: 150px;
  height: 50px;
  background: #ffc038;
  border: none;
  color: #464646;
  font-family: "OpenSBold";
  font-size: 12.5px;
  text-transform: uppercase;
}
main .container-fluid {
  background-image: url("/img/bag.png");
  height: 1250px;
}
main .container-fluid .container .block_how .long_btn .btn-primary {
  font-family: "SBold";
  text-transform: uppercase;
  font-size: 26px;
  width: 330px;
  height: 55px;
  background: #464646;
}
main .container-fluid .container .block_how .long_btn .btn-primary.active,
main .container-fluid .container .block_how .long_btn .btn-primary:active {
  border: none;
}
main .container-fluid .container .block_how .long_btn img {
  margin-top: 110px;
}
main .container-fluid .container .object {
  margin-top: 50px;
}
main .my_container {
  height: 1830px;
}
main .my_container .futures {
  margin-top: 50px;
}
main .my_container .futures .long_btn {
  padding-bottom: 80px;
}
main .my_container .futures .long_btn .btn-primary {
  font-family: "SBold";
  text-transform: uppercase;
  font-size: 26px;
  width: 330px;
  height: 55px;
  background: #464646;
}
main .my_container .futures .long_btn .btn-primary.active,
main .my_container .futures .long_btn .btn-primary:active {
  border: none;
}
main .my_container .futures .long_btn img {
  margin-top: 110px;
}
main .my_container .futures .table_list {
  margin-top: 50px;
}
main .my_container .futures .table_list .col-md-4 {
  height: 130px;
  cursor: pointer;
}
main .my_container .futures .table_list .col-md-4 img {
  margin-top: 23px;
}
main .my_container .futures .table_list .col-md-4 .info {
  width: 89%;
  float: right;
}
main .my_container .futures .table_list .col-md-4 .info h1 {
  font-family: "Regular";
  font-size: 18px;
}
main .my_container .futures .table_list .col-md-4 .info span {
  font-family: "light";
  font-size: 14px;
}
main .my_container .futures .table_list .col-md-4 .cheng_s {
  width: 86%;
}
main .my_container .futures .table_list .col-md-4:hover {
  background: #fbc73a;
}
main .my_container .futures .small_table .list .col-md-12 {
  text-align: center;
}
main .my_container .futures .small_table .list .col-md-12 .basic_s,
main .my_container .futures .small_table .list .col-md-12 .premium_s {
  font-size: 23px;
  padding-top: 10px;
}
main .my_container .futures .small_table .list .col-md-12 .standart_s {
  font-size: 27px ;
  padding-bottom: 11px;
}
main .my_container .futures .small_table .list .col-md-12 .col-md-4 {
  min-height: 49px;
  border-right: 1px solid #fbc73a;
}
main .my_container .futures .small_table .list .col-md-12 .new_s {
  font-size: 18px;
}
main .my_container .futures .small_table .list .col-md-12 .text_c {
  color: #8d8d8d;
}
main .my_container .futures .small_table .list .col-md-12 .text_r {
  color: #f26c4f;
}
main .my_container .futures .small_table .list .col-md-12 .text_y {
  color: #fbc73a;
}
main .my_container .futures .small_table .list .col-md-12 .fonts1 {
  font-family: "Regular";
}
main .my_container .futures .small_table .list .col-md-12 .inside_b {
  border-bottom: 1px solid #fbc73a;
  padding-top: 15px;
}
main .my_container .futures .small_table .list .value .col-md-4:not(.text_r) {
  font-family: "Medium";
  font-size: 27px;
  padding-top: 30px;
}
main .my_container .futures .small_table .list .value .text_r {
  font-family: "Medium";
  font-size: 30px;
  padding-top: 45px;
}
main .my_container .futures .small_table .list .new_btn .col-md-4 {
  border-right: none;
  margin-top: 40px;
}
main .my_container .futures .small_table .list .new_btn .col-md-4 .btn-primary {
  width: 65%;
  height: 45px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Bold";
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
main .my_container .futures .small_table .list .new_btn .col-md-4 .first_btn {
  background: #8d8d8d;
}
main .my_container .futures .small_table .list .new_btn .col-md-4 .second_btn {
  background: #f26c4f;
}
main .my_container .futures .small_table .list .new_btn .col-md-4 .three_btn {
  background: #fbc73a;
}
main .history {
  height: 550px;
}
main .history .container-fluid {
  height: 550px;
  background-image: url("/img/bag.png");
}
main .history .container-fluid .container .our_history .col-md-12 {
  margin-top: 60px;
}
main .history .container-fluid .container .our_history .col-md-12 .img_bag img {
  width: 452px;
  height: 438px;
}
main .history .container-fluid .container .our_history .col-md-12 .info_history .black_btn {
  background: #464646;
  width: 220px;
  height: 55px;
  text-transform: uppercase;
}
main .history .container-fluid .container .our_history .col-md-12 .info_history .new_btn {
  width: 190px;
  height: 50px;
  background: #ffc038;
  border: none;
  color: #464646;
  font-family: "OpenSBold";
  font-size: 12.5px;
  text-transform: uppercase;
  margin-top: 10px;
}
main .bisnes_projekt .container-fluid {
  background: #fff;
}
main .bisnes_projekt .container-fluid .container .row .col-md-12 .col-md-8 {
  margin-top: 100px;
}
main .bisnes_projekt .container-fluid .container .row .col-md-12 .col-md-8 .btn-primary {
  font-family: "SBold";
  text-transform: uppercase;
  font-size: 26px;
  width: 450px;
  height: 55px;
  background: #464646;
}
main .bisnes_projekt .container-fluid .container .row .col-md-12 .col-md-8 img {
  margin-top: 100px;
}
main .bisnes_projekt .container-fluid .container .new_row {
  margin-top: 50px;
}
main .bisnes_projekt .my_fluid {
  background: #fbc73a;
  height: 220px;
  margin-top: 80px;
}
main .bisnes_projekt .my_fluid .container {
  text-align: center;
}
main .bisnes_projekt .my_fluid .container .icon_bloc {
  display: -ms-inline-grid;
  display: inline-grid;
  margin-right: 40px;
  margin-top: 30px;
}
main .bisnes_projekt .my_fluid .container .icon_bloc span {
  color: #fff;
  padding-top: 5px;
  text-transform: uppercase;
}
main .bisnes_projekt .releted .row .col-md-12 .right_block img {
  width: 457px;
  height: 270px;
}
main .bisnes_projekt .releted .row .col-md-12 .col-md-8 {
  width: 60%;
  text-align: center;
}
main .bisnes_projekt .releted .row .col-md-12 .col-md-8 .btn-primary {
  font-family: "SBold";
  text-transform: uppercase;
  font-size: 26px;
  width: 450px;
  height: 55px;
  background: #464646;
}
main .bisnes_projekt .releted .row .col-md-12 .col-md-8 img {
  margin-top: 100px;
}
main .bisnes_projekt .releted .second_blok {
  margin-top: 50px;
}
main .bisnes_projekt .releted .color_ {
  height: 800px;
}
main .bisnes_projekt .releted .color_ .last {
  height: 594px;
}
main .bisnes_projekt .releted .color_ .last img {
  width: 949px;
  height: 595px;
}
main .bisnes_projekt .releted .color_ .line_y {
  width: 96.5%;
  margin-left: 14px;
  height: 65px;
  background: #fbc73a;
}
main .bisnes_projekt .releted .color_ .line_y h1 {
  font-size: 22px;
  font-family: "OpenSBold";
  text-transform: uppercase;
  color: #fff;
  padding-left: 45px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 0px;
}
main .bisnes_projekt .releted .color_ .line_y .btn {
  float: right;
  width: 160px;
  height: 50px;
  text-transform: uppercase;
  color: #000;
  font-family: "OpenSBold";
  font-size: 20px;
  margin-top: 7px;
}
footer .container {
  width: 100%;
  text-align: center;
  height: 400px;
  background: #363636;
}
footer .container .row {
  margin: 0 auto;
  width: 53%;
}
footer .container .row .col-md-12 {
  text-align: left;
  padding-left: 5px;
}
footer .container .row .col-md-12 .col-md-3 {
  padding-left: 0px;
}
footer .container .row .col-md-12 .col-md-3 ul {
  margin-top: 40px;
  padding-left: 0px;
  list-style-type: none;
}
footer .container .row .col-md-12 .col-md-3 ul h1 {
  color: #e6e9ed;
  font-size: 18px;
}
footer .container .row .col-md-12 .col-md-3 ul li {
  margin-top: 10px;
  font-size: 16px;
  color: #aab2bd;
}
footer .container .social {
  margin-top: 50px;
}
footer .container .social .col-md-12 {
  text-align: center;
  padding-left: 15px;
}
footer .container .social .col-md-12 img {
  margin-right: 10px;
}
footer .container .copyright_ {
  margin-top: 30px;
}
footer .container .copyright_ .col-md-12 {
  text-align: center;
}
footer .container .copyright_ .col-md-12 span {
  color: #fff;
}
